<p id="notice"><%= notice %></p>

<p>
  <b>All:</b>
  <%= @my_record.attributes %>

  <b>Name:</b>
  <%= @my_record.name %>
</p>


<%= link_to 'Edit', edit_my_record_path(@my_record) %> |
<%= link_to 'Back', my_records_path %>
